


.abc
     {
      position: relative
      top:
      bottom:101px
      height: 
      left:250px 
     }
     .abcd
     {
      position: relative
      top:
      bottom:134px 
      height: 
      left:400px
     }
     .abcde
     {
      position: relative
      top:
      bottom:167px
      height: 
      left:800px
     }
     .abcdef
     {
      position: relative
      top:
      bottom:201px
      height: 
      left:1070px
     }